.first-content p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: none;
}
.slides .slide:nth-child(1) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
    /*background-image: url("../../images/personalCenter_images/1.jpg");*/
}
.slides .slide:nth-child(2) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
    /*background-image: url("../../images/personalCenter_images/1.jpg");*/
}
.slides .slide:nth-child(3) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
    /*background-image: url("../../images/personalCenter_images/1.jpg");*/
}
.slides .slide:nth-child(4) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
    /*background-image: url("../../images/personalCenter_images/1.jpg");*/
}
.slides .slide:nth-child(5) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
    /*background-image: url("../../images/personalCenter_images/1.jpg");*/
}
.slides .slide .content{
    top:13vh;
    width: 70%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
}
nav{
    top:13vh;
    width: 25%;
    height: 80%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #000000;
    background-color: #ffffff;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
nav a.active{
    background-color: transparent;
    color: #ffffff;
}
.second-content .col-md-6{
    width: 100%;
}
.second-content .main-btn{
    float:right;
}
.third-content .right-content{
    padding-top: 20px;
    margin-top: 15px;
}
.third-content .left-content{
    padding-top: 20px;
}
.fourth-content .comment{
    width: 100%;
}
.second-content h3 {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.first-content .text-style{
    border: none;
    background: none;
}

.first-content .text-style:focus{
    outline: none;
}

.first-content {
    padding-top: 30px;
    padding-bottom: 20px;
}

.first-content .file{
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: #ffffff;
    text-decoration: none;
    text-indent: 0;
    line-height: 50px;
    font-size: 15px;
}

.first-content .file input{
    position: absolute;
    font-size: 50px;
    right: 0;
    top: 0;
    height: 50px;
    opacity: 0;
}

.first-content .file:hover{
    color: #008fe1;
    text-decoration: none;
}

.backToIndex{
    padding-top: 10px;
    padding-left: 0px;
    width: 10%;
    height: 10%;
    z-index: 9999;
    position: fixed;
    background: transparent;
}

.backToIndex a{
    font-size: 20px;
    color: #ffffff;
}
.first-content .fb-btn {
    padding-right: 50px;
}