.first-content p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: none;
}
.slides .slide:nth-child(1) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
}
.slides .slide:nth-child(2) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
}
.slides .slide:nth-child(3) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
}
.slides .slide:nth-child(4) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
}
.slides .slide:nth-child(5) {
    /*background: rgba(255, 255, 255, 0);*/
    background-image: url("../../images/personalCenter_images/background.jpg");
}
.slides .slide .content{
    top:17vh;
    width: 70%;
    height: 75%;
    background: rgba(0, 0, 0, 0.5);
    /*background-image: url("../img/back.jpg");*/
}
nav{
    top:17vh;
    width: 25%;
    height: 75%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.second-content .col-md-6{
    width: 100%;
}
.second-content .main-btn{
    float:right;
}
.third-content .right-content{
    padding-top: 20px;
    margin-top: 15px;
}
.third-content .left-content{
    padding-top: 20px;
}
.fourth-content .comment{
    width: 100%;
}
.second-content h3 {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.first-content .text-style{
    border: none;
    background: none;
}

.first-content .text-style:focus{
    outline: none;
}

.first-content {
    padding-top: 30px;
    padding-bottom: 20px;
}