.article_titles .article_title {
    background-color: white;
    width: 80%;
    margin: 10px auto;
    min-height: 120px;
    /*border: 1px solid #eee;*/
    /*vertical-align: middle;*/
    padding: 40px 0;
}


.article_titles .article_title:hover {
    box-shadow: 2px 2px 6px #000;
    -webkit-transition: box-shadow 500ms;
    -moz-transition: box-shadow 500ms;
    -ms-transition: box-shadow 500ms;
    -o-transition: box-shadow 500ms;
    transition: box-shadow 500ms;
}

.article_title h1 {
    font-size: 20px;
    color: #00CE9A;

}

