<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.macteam.cybertopia.dao.IUserDao" >

    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteUserByuserName" parameterType="String">
        delete from user where username=#{username}
    </delete>

    <select id="getUserByUsername" parameterType="string" resultType="com.macteam.cybertopia.entity.User">
        select * from user where username=#{username}
    </select>

    <select id="getUserById" resultType="com.macteam.cybertopia.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="getPasswordCode" resultType="java.lang.String">
        select password( #{input} )
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user
        (username,password,role,nickname,sex,school,
         major,grade,email,description,phone)
        values
        (#{username},password(#{password}),#{role},#{nickname},#{sex},#{school},
         #{major},#{grade},#{email},#{description},#{phone})
    </insert>

    <update id="updateUserInfo" parameterType="User">
        update user set sex=#{sex}, school=#{school},
         major=#{major}, grade=#{grade}, email=#{email}, phone=#{phone},
         description=#{description}, picture=#{picture}
         where id=#{id}
    </update>

    <update id="updateUserPassword">
        update `user` set password = #{password} where id = #{id}
    </update>

</mapper>
